<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="GoodForPetsMSSQL" connectionString="Server= sql.bsite.net\MSSQL2016;Database=backdennimi_GoodsForPets;User Id=backdennimi_GoodsForPets;Password=@X*9vNKkVp2^GP;" />
    </connectionStrings>
</configuration>