<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>rUwyORf3yhnmKmcYjTEq2JZ4oRR9xn3zR0rasBoNBE83a6oJA5i0FSZ2B8LLp9UnUB/1t4cKoB7UFLh3w9HK5u6bervYkFJ9plSnp7tnv8stZdDRj6gkZ1v4Hx2AIhfGjnAYKkJZvcKvzhzGPMyF/E45KwMKWMw+doKWsNDlP+POHxIV+RtSn6t/Kik8i7qB2uBigVvXDXJZj4W4EaEqqDBC/FqbAiapWAMe04yo40MBzmAeGIwp5J+xEpjyTex/jZXQ8XsTla0eutWotfjLXK7UH3JxThsZ/iUAjupqIYdrCKZLhiPgsm2gRMnOgNQ+D9QDkt8fchClexb6YFLi9w==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Av6WBVx+5RJbYeTLAO5BG2i5tL7RmAXxCYlKTbzKAbYz58QQ5O8ugRO6c1SdasWYsJKlFgewrf2lPlBIQ+hii4/7HOclR0iPsGLFh6VAe+Uud2FdpSOfHbCllghimfGVixGhNFPVtV12NwpcOkjU3Meuu4AyAP+nDGzJ2f6bnw0ahzuQAGfOLaNAGsRZher461vVEWjVs5WJg8Sf94GAV9TFr0yVXJ+/5cPwPTgLHK0jK3wny0XT/jeeS6lRSvhSDiOFce3ty9h+vRxpMisxkM7UrmuuYWSOnhthkPae8vz3T+doBHXZ6DjAkjIIAGIjlXj92iHQICSTIgphvIrN/WrpeUJg+PTHPJ30roNMTGhbCiHPT7sMj7tk3OKrMQubmgnPAPxhEajnJk6uqJujazutwHMbVV/9SSwi7tu1sPo=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>